<!DOCTYPE html>
{% load static %}
<html dir="rtl">
<head>
	<title>login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{% static 'users/login.css' %}">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
<div class="login">
	<center><!--<h2 class="active"> <img class="profile" ></img> </h2>-->
		<div class="profile"><i class="fas fa-user"></i></div>
	</center>

    <form method="post">
        {% csrf_token %}

        <input type="text" class="text" name="username" placeholder="نام کاربری...">
         <span>نام کاربری</span>

        <br>

        <br>

        <input type="password" class="text" name="password" placeholder="رمز عبور...">
        <span>رمز عبور</span>
        <br>

        <input type="checkbox" id="checkbox-1-1" class="custom-checkbox" />
        <label for="checkbox-1-1">مرا به خاطر بسپار</label>

        <button class="signin">
          ورود
        </button>


        <hr>

        <a href="{% url 'users:password_reset'%}">آیا رمز خود را فراموش کرده اید؟</a>
    </form>

</div>
</body>
</html>