<!DOCTYPE html>
{% load static %}
<html dir="rtl">
<head>
    <meta charset="utf-8">
	<title>login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{% static 'users/login.css' %}">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
<div class="login">
	<center><!--<h2 class="active"> <img class="profile" ></img> </h2>-->
		<div class="profile"><i class="fas fa-users"></i></div>
	</center> <br>
    <form method="post">
        {% csrf_token %}
    <select name="role" style="color: wheat;">
		<option value="" disabled selected>نقش</option>
        {% for role in roles %}
        <option value="{{ role.id }}">{{ role.role }}</option>
        {% endfor %}
	</select>
     <span>نوع شرکت کننده</span>

    <br>
    <br>

    <select name="online_or_offline" style="color: wheat;">
        <option value="" disabled selected>نحوه شرکت</option>
        <option value="0">حضوری</option>
        <option value="1">غیر حضوری</option>
    </select>
    <span>نحوه شرکت</span>
    <br>
    <br>

    <input type="text" class="text" name="institute" placeholder="اموزشگاه" required>
    <span>نام اموزشگاه</span>
    <br>
    <br>


    
    <button class="signin">
      پایان
    </button>
    <hr>
    </form>

</div>
</body>
</html>