{% load static %}
	<footer class="ftr" dir="ltr">
		<div class="ctr">
			<div class="rw">
				<div class="footer-col">
					<h4>آموزشگاه</h4>
					<ul>
						<li><a href="#">کلاس</a></li>
						<li><a href="#">دوره</a></li>
						<li><a href="#">همایش</a></li>
						<li><a href="#">جشن</a></li>
					</ul>
				</div>
				<div class="footer-col">
					<h4>پشتیبانی</h4>
					<ul>
						<li><a href="#">تلفن</a></li>
						<li><a href="#">آدرس</a></li>
						<li><a href="#">تلگرام</a></li>
						<li><a href="#">آدرس خونه ممتاز</a></li>
					</ul>
				</div>
				<div class="footer-col">
					<h4>مشاورها</h4>
					<ul>
						<li><a href="#">عزیزمرادی</a></li>
						<li><a href="#">یامینی</a></li>
						<li><a href="#">تاجیک</a></li>
						<li><a href="#">سمسار</a></li>
					</ul>
				</div>
				<div class="footer-col">
					<h4>دنبال کردن</h4>
					<div class="social-links">
						<a href="#"><i class="fab fa-facebook-f"></i></a>
						<a href="#"><i class="fab fa-twitter"></i></a>
						<a href="#"><i class="fab fa-instagram"></i></a>
						<a href="#"><i class="fab fa-linkedin-in"></i></a>
					</div>
				</div>
			</div>
		</div>
	</footer>
    </div><!--end of element of body-->
